<% layout('layout/boilerplate')%>
<div class="container d-flex justify-content-center align-items-center mt-5 " >
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://images4.alphacoders.com/601/thumb-1920-601832.jpg"
                    alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <form action="/register" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" required autofocus>
                            
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="email" required>
                            
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            
                        </div>
                        <button class="btn btn-success btn-block">Register</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row">
    <h1 class="text-center">
        Register
    </h1>
    <div class="col-6 offset-3">
        <form action="/register" method="post" novalidate class= "validated-form" >
            <div class='mb-3'>
                <label class="form-label" for="username">Username</label>
                <input class="form-control" type="text" id= "username" name= "username" required>
            </div>
            <div class='mb-3'>
                <label class="form-label" for="email">Email</label>
                <input class="form-control" type="email" id= "email" name= "email" required>
            </div>
            <div class='mb-3'>
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" id= "password" name= "password" required>
            </div>
            <div class="mb-3">
                <button class='btn btn-success'>Register</button>
            </div>
        </form>
    </div>
</div> -->




